* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    
}

header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

div {
    text-align: center;
}
div button {
    background-color: green;
}

ul {
    margin-top: 40px;
}

.completed {
    text-decoration: line-through;
} 